# Libraries, directory and data

In [5]:
#Libraries
import pandas as pd
import seaborn as sns

In [6]:
#load the dataset
df = pd.read_csv("Baseball.csv")
df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

# Mean

In [10]:
#Mean of Runs Scored (RS)
df.RS.mean()

715.0819805194806

In [12]:
#Mean of Runs Scored (RS) by the Arizona Team (ARI)
df.loc[df.Team == "ARI"].RS.mean()

742.2

In [14]:
#Mean of Runs Scored (RS) by the Arizona Team (ARI) since 2005
df.loc[(df.Team == "ARI") & (df.Year > 2005)].RS.mean()

729.0

In [16]:
#Question: What us the mean of Runs Allowed (RA) by the Chicago Team (CHC)
# until 2007
df.loc[(df.Team == "CHC") & (df.Year < 2007)].RA.mean()

728.170731707317

# Median

In [20]:
#Median and Mean of Wins (W)
print(df.W.mean())
df.W.median()

80.90422077922078

81.0

In [22]:
#Question: whats is the median of Wins of the Baltimore Team (BAL) until 2000
df.loc[(df.Team == "BAL") & (df.Year <= 2000)].W.median()

89.0

# Mode

In [23]:
# Mode, Median and Mean of OBP
print(df.OBP.mean())
print(df.OBP.median())
df.OBP.mode()

0.32633116883116886
0.326

0    0.322
Name: OBP, dtype: float64

In [24]:
#Question: Mode of OBP during the Year 2010
df.loc[df.Year == 2010].OBP.mode()

0    0.332
Name: OBP, dtype: float64